body, footer {
    font-family: roboto;
    margin: auto;
    justify-content: center;

}

button {
    background-color: #3882F6;
    color: #f9faf8;
}

h1 {
    background-color: #1f2937;
    font-size: 24px;
    color: #f9faf8;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px light italic;
}